# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Visual Studio
.vs/

# VS Code
.vscode/

# Excel temporary files
~$*.xlsx

# OAuth credentials & tokens
credentials.json
client_secret*.json
token.json